backups/
gulp/
logs/
node_modules/
src/templates/AFUJ/*
src/templates/bosa/*
src/templates/jd17fr/*
src/templates/Jug_Toulouse/*
src/templates/JUGW/*
vendor/
vendor/**/.git
ZZZvendor_manual/
ZZZvendor_manual/**/.git
settings.json
composer.log
gulpfile.js
build.bat
src/assets/aesecure.png
