backups/
gulp/
logs/
node_modules/
src/templates/bosa/
src/templates/bosa.php
src/templates/jug_toulouse.php
src/templates/jug_toulouse/
src/templates/jug_wallonie.php
vendor/
vendor/**/.git
settings.json
composer.log
gulpfile.js
build.bat
src/assets/aesecure.png
src/templates/jugwallonie.php
src/templates/jugtoulouse_reveal.php
src/templates/assets/jd17fr/favicon.ico
src/templates/assets/jd17fr/jd17fr.css
src/templates/assets/jd17fr/jd17fr.png
src/templates/assets/jd17fr/joomladay-france-2017-logo.svg
src/templates/jd17fr_reveal.php