backups/
gulp/
logs/
node_modules/
src/templates/AFUJ/*
src/templates/bosa/*
src/templates/jd17fr/*
src/templates/jd18fr/*
src/templates/Jug_Toulouse/*
src/templates/JUGW/*
vendor/
vendor/**/.git
vendor_manual/
vendor_manual/**/.git
settings.json
composer.log
gulpfile.js
build.bat
src/assets/aesecure.png
src/utils/tmp/debug.log