/* 
   "selected" is the class added when the user click on a filename in the "list of files" table.
   You can change the css here, for odd and/or even lines
*/
#tblFiles > tbody > tr:nth-child(odd) .selected { background-color:rgb(166, 215, 133);color:green;}
#tblFiles  > tbody > tr:nth-child(even) .selected {background-color:rgb(166, 215, 133);color:#615454;}

/* How to display the name of the file in the content page (displayed as the first line) ? */         
/*.filename{font-style:italic;font-weight:bold;color:lightgray;}*/

/* body { background:rgba(183, 141, 56, 0.32); } */