{   
   "debug":0,
   "development":0,
   "editor":1,
   "folder":"docs",
   "language":"fr",
   "optimisation":{
      "cache":1
   },
   "tags":[
      ""
   ],
   "templates":{
      "screen":"screen",
      "html":"html"
   },
   "encryption": {
      "password":"",
      "method":"aes-256-ctr"
   },
   "export":{
      "save_html":1
   },
   "languages":{
      "en": {
         "apply_filter":"Filtering to [%s]",
         "apply_filter_tag":"Display notes containing this tag",
         "copy_link":"Copy the link to this note in the clipboard",
         "copy_link_done":"The URL of this note has been copied into the clipboard",
         "confidential":"confidential",
         "display_that_note":"Display that note",
         "edit_file":"Edit",
         "error":"Error",
         "file_not_found":"The file [%s] doesn\\'t exists (anymore)",
         "files_found":"%s has been retrieved",
         "is_encrypted":"This information is encrypted in the original file and decoded here for screen display",
         "open_html":"Open in a new window",
         "please_wait":"Please wait...",
         "print_preview":"Print preview",
         "search_no_result":"D&eacute;sol&eacute;, votre recherche n'a pas retourn&eacute; de r&eacute;sultat",
         "search_placeholder":"Sorry, the search is not successfull",
         "slideshow":"slideshow"
      },
      "fr": {
         "apply_filter":"Limite la liste des notes à [%s]",
         "apply_filter_tag":"Affiche les notes reprennant ce mot",
         "copy_link":"Copier le lien vers cette note dans le presse-papier",
         "copy_link_done":"L'URL vers cette note a &eacute;t&eacute; copi&eacute;e dans le presse-papier.",
         "confidential":"confidentiel",
         "display_that_note":"Afficher cette note",
         "edit_file":"Éditer",
         "error":"Erreur",
         "file_not_found":"Le fichier [%s] n\\'existe pas (ou plus)",
         "files_found":"%s fichiers ont été retrouvés",
         "is_encrypted":"Cette information, m&ecirc;me si elle est affich&eacute;e en clair, est crypt&eacute;e dans le fichier. Elle n'est pas donc pas accessible si on ouvre imm&eacute;diatement le fichier source.",
         "open_html":"Ouvrir dans une nouvelle fen&ecirc;tre",
         "please_wait":"Un peu de patience s&#x27;il vous pla&#xEE;t...",
         "print_preview":"Aper&ccedil;u avant impression",
         "search_no_result":"D&eacute;sol&eacute;, votre recherche n'a pas retourn&eacute; de r&eacute;sultat",
         "search_placeholder":"Tapez ici des mots-cléfs pour lancer une recherche",
         "slideshow":"Affiche le document au format 'pr&eacute;sentation'"
      }      
   },
   "page":{
      "google_font":"",
      "img_maxwidth":800
   }   
}