	<meta name="author" content="marknotes | Notes management" />
	<meta name="designer" content="marknotes | Notes management" />
	<meta name="keywords" content="markdown, markotes, html, slideshow, knowledge management" />
	<meta name="description" content="marknotes is a knowledge management tool. Notes are written in the markdown language and then displayed as full functionnal html page. Can be displayed as a slideshow also. This program is Open Source and available on https://github.com/cavo789/marknotes" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta property="og:type" content="article" />
	<meta property="og:image" content="%ROOT%/assets/images/notes.jpg" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="800" />
	<meta property="og:title" content="marknotes | Notes management" />
	<meta property="og:site_name" content="marknotes | Notes management" />
	<meta property="og:description" content="marknotes | Notes management" />

	<link rel="manifest" href="%ROOT%/assets/images/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="%ROOT%/assets/images/favicons/mstile-144x144.png">
	<meta name="theme-color" content="#ffffff">
