@media print {
	.hidden-print {
		display: none !important;
	}
}

details {
	padding-bottom: 1em;
}

navigation.top {
	top	 : 10px;
	position: fixed;
	z-index : 10;
}

navigation.top a {
	color		: green;
	font-size	: 1.4em;
	margin-right: 10px;
}

body {
	background: #eee;
	padding	: 20px;
}

article {
	max-width : 50em;
	background: white;
	padding	: 2em;
	margin	: 1em auto;
}

.table-of-contents {
	float	 : right;
	width	 : 40%;
	background: #eee;
	font-size : .8em;
	padding	: 1em 2em;
	margin	: 0 0 .5em .5em;
}

.table-of-contents ul {
	padding: 0;
}

.table-of-contents li {
	margin: 0 0 .25em;
}

.table-of-contents a {
	text-decoration: none;
}

.table-of-contents a:active,
.table-of-contents a:hover {
	text-decoration: underline;
}

nav.table-of-contents strong {
	font-size: 1.6em;
}

h2:target {
	animation: highlight 1s ease;
}

h3:target {
	animation: highlight 1s ease;
}
@keyframes highlight {
	from {
		background: yellow;
	}

	to {
		background: white;
	}
}

.btnTop {
	float	 : right;
	margin-top: 14px;
}

.fullimg {
	max-width: 100%;
	height	: auto;
}

h1 {
	margin-bottom : 15px;
	padding-bottom: 5px;
	border-bottom : 2px solid #5091cd;
}

footer img {
	margin : 25px auto;
	display: block;
}

footer > ul.list-inline li {
	margin-right: 40px;
}

> ul.list-inline li {
	margin-right: 40px;
}

/* Small classes that can be used with a markdown_extra notation */
/* For instance :	### This is my title {.green}  */
/* That h3 will receive the .green CSS class */

.strikeout {
	text-decoration: line-through;
}

.yellow {
	background-color: rgba(255, 255, 0, 0.29);
	padding		 : 10px;
	margin		  : 5px;
}

.red {
	background-color: #fd8888;
	padding		 : 10px;
	margin		  : 5px;
	color			: white;
}

.green {
	background-color: #76c376;
	padding		 : 10px;
	margin		  : 5px;
	color			: white;
}

.note::before {
	content: 'Note: ';
	font-weight: bold;
}

.note {
	color: #616E14;
	border: solid 1px #BFD62F;
	background-color: #DAE691;
	border-radius: 6px;
	padding: 14px 20px;

}
.devmode {
	background-color: #f78272;
	padding		 : 10px;
	margin		  : 5px;
	color			: #f7eeee;
}

.markdown-body table {
	display: inline-table !important;
}
