body {
	max-width		: none !important;
	padding		 : 0 !important;
	background	  : none;
	background-color: #58bbfa;
}

.reveal h1 {
	font-size: 3.2em;
	color	: white;
}

.reveal h2 {
	font-size: 2.6em;
	color	: #f6a542;
	/*text-shadow: .01em .02em .05em white;*/
}

.reveal h3 {
	font-size  : 2em;
	color	  : #7dbb48;
	text-shadow: .1em .1em .05em #333;
}

.reveal h4 {
	font-size  : 1.4em;
	color	  : #7dbb48;
	text-shadow: .1em .1em .05em #333;
}

.reveal h5 {
	font-size  : 1.2em;
	color	  : #7dbb48;
	text-shadow: .1em .1em .05em #333;
}

.reveal h6 {
	font-size  : 1em;
	color	  : #7dbb48;
	text-shadow: .1em .1em .05em #333;
}

.reveal strong {
	background-color: #91d2fc;
	/*#7dbb48;*/
	color			: #5695cf;
	display		 : inline-block;
	border-radius	: 10px;
	padding		 : 5px;
}

.reveal dl,
.reveal ol,
.reveal ul {
	margin: 0 0 0 2em;
}

.reveal ul {
	list-style-type: none !important;
	margin-left	: none;
}

div.reveal .warning {
	background-color: yellow;
	color			: red;
	border-radius	: 10px;
	display		 : inline-block;
	padding		 : 0 10px;
	margin-top	  : 15px;
	border		  : dotted;
}

section.vertical {
	/**
		No color for the section tag when it concern a vertical
		separator
	*/
	background-color:transparent !important;
}

section:not([data-background-image]) {
	color			: #c3d9ee;
	background-color: rgba(0,0,0,0.4);
	padding		 : 25px !important;
	/*top			 : -20px !important;*/
	width			: 125% !important;
	left			: -140px !important;
}

div.reveal section a {
	color			: white;
	background-color: #7dbb48;
	border-radius	: 10px;
	padding		 : 0 10px;
}

div.reveal section a:hover {
	color: red;
}

.reveal section em {
	font-size: .8em;
	color	: lightgray;
}

.big {
	font-size: 1.4em !important;
}

/* title-footer reveal.js plugin */
#title-footer {
	background-color: black;
}
#title-footer.footer-visible {
	display: inline;
}
#title-footer.footer-hidden {
	display: none;
}
#title-footer #notification {
	font-family: 'Roboto', sans-serif;
}
#title-footer p {
	text-align: center;
	font-size: 0.9em;
	line-height: 1;
	margin: 0;
	padding-top: 2px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0;
}
#title-footer p.footer-hard {
	color: #bbb;
}
#title-footer p.footer-fade {
	color: #bbb;
	opacity: 0.9;
	font-size: 1.5vh;
	letter-spacing: 0;
	padding-top: 3px;
}
