body {
	font-family     : 'Open Sans', sans-serif;
	font-size       : 14px;
	line-height     : 1.42857143;
	color           : #333;
	/*overflow        : hidden;*/
	background-color: #eeeeee;
}

h1 {
	font-size  : 40px;
	font-weight: 600;
	/*text-transform: uppercase;*/
	margin-top : 0;
}

h2 {
	display              : block;
	-webkit-margin-before: .83em;
	-webkit-margin-after : .83em;
	-webkit-margin-start : 0;
	-webkit-margin-end   : 0;
}

.logo {
	top           : 0;
	left          : 0;
	margin        : auto;
	padding-bottom: 10px;
}

#CONTENT img {
	max-width: 800px;
	padding  : 25px 5px;
	display  : block;
}

/* Style for the scrollbars */
::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius     : 10px;
}

::-webkit-scrollbar-thumb {
	border-radius     : 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.error {
	padding: 10px;
	margin : 10px;
	border : 1px solid red;
}

/* Style for the formatting of the name of the file, displayed in the content, first line */

.filename {
	font-style : italic;
	font-weight: bold;
	color      : #dfdfe0;
	top        : 15px;
	position   : inherit;
}

#toolbar-app {
	background-color: rgba(5, 58, 74, 0.12);
	float           : right;
}

#toolbar-button {
	background-color: rgba(5, 58, 74, 0.12);
	position        : fixed;
	top             : 10px;
	right           : 15px;
	margin-right    : 10px;
	cursor          : pointer;
}

/* The root folder name */

.rootfolder {
	display: none;
}

/* The search area.  The width will be initialized by javascript */

#search {
	position: fixed !important;
	left    : 5px;
	top     : 5px;
	z-index : 1;
}

#TDM .flexdatalist-multiple li.input-container,
.flexdatalist-multiple li.input-container input {

	width: 212px;
}

#TDM .flexdatalist-multiple {
	z-index     : 1;
	display     : none;
	border-width: 1px !important;
	height      : 37px;
}

#search-flexdatalist {
	max-width: 150px;
}

#icon_lock {
	margin-left: 2px;
	color      : #abe0ab;
}

.icon_file {
	padding-left: 5px;
}

/* Content if the full page : contains the list of files and the content of the select note */

#CONTENT {
	margin-left: 10px;
	top        : 5px !important;
	max-height : 960px;
	overflow-y : auto;
	overflow-x : auto;
	width      : 100%;
	left       : -15px;
	padding    : 10px;
	height     : calc(100vh - 12px);
}

/* TDM if the left part, i.e. the container of the search area and TOC (the list of files) */

#TDM {
	left    : 5px;
	/*top       : 5px !important;
	overflow-y: auto;
	overflow-x: auto;*/
	width   : 280px;
	position: fixed;
	left    : 0;
	top     : 0;
	bottom  : 0;
	overflow: auto;
	padding : 10px;
}

.content {
	margin-left: 270px;
	padding    : 10px;
	box-sizing : border-box;
	width      : calc(100% - 280px);
}

#TOC {
	/*position: inherit;
    top     : 35px;*/
	margin-top: 10px;
}

#TOC .folder {
	background: url('../../libs/jsTree/file_sprite.png') right bottom no-repeat;
}

#TOC .file {
	background: url('../../libs/jsTree/file_sprite.png') 0 0 no-repeat;
}

#TOC .file-htaccess,
#TOC .file-log,
#TOC .file-md,
#TOC .file-text,
#TOC .file-txt {
	background-position: -254px -18px;
}

/* page is used to display the content of the selected note */

page {
	background: white;
	display   : none;
	margin    : 0 auto .5cm;
	box-shadow: 0 0 .5cm rgba(0, 0, 0, 0.5);
}

/* Don't display informations that are targeted for printers only */

.onlyprint {
	display: none;
}

.countfiles {
	font-size : xx-small;
	font-style: italic;
}

.app_version {
	font-size     : xx-small;
	height        : 20px;
	position      : fixed;
	bottom        : 0;
	width         : 100%;
	font-style    : italic;
	pointer-events: none;
}

.app_version a {
	pointer-events: all;
}

#icon_separator {
	height: 40px;
}

/* Use by the jQuery highlight plugin, highlight searched keywords */

.highlight {
	background-color: yellow !important;
	border-radius   : .125em;
}

/* ---------------------------------------------------------- */
/* Classes added by javascript during the display of the note */
/* "note" will allow to stylize links to other notes within the local website */

.note {
	border-bottom: 1px dotted #000;
}

.download {
	background-color: rgba(255, 235, 59, 0.21);
	text-decoration : underline;
}

#tree .file {
	background: url('./file_sprite.png') 0 0 no-repeat;
}

/* Edit - Toolbar size */

div.editor-wrapper .editor-toolbar a {
	width: 40px;
}

.fullwidth {
	min-width    : 100%;
	max-width    : 100%;
	padding-left : 15px;
	padding-right: 15px;
	width        : 100%;
}

/* Display folders in the treeview in italic */

.jstree-closed > .jstree-anchor,
.jstree-open > .jstree-anchor {
	font-style: italic;
}

.xdebug-error {
	font-size: 2em;
}

.debug {
	background-color: yellow;
}
