body {
  background: #eee;
  padding: 20px;
}

article {
  max-width: 50em;
  background: white;
  padding: 2em;
  margin: 1em auto;
}

.table-of-contents {
  float: right;
  width: 40%;
  background: #eee;
  font-size: 0.8em;
  padding: 1em 2em;
  margin: 0 0 0.5em 0.5em;
}
.table-of-contents ul {
  padding: 0;
}
.table-of-contents li {
  margin: 0 0 0.25em 0;
}
.table-of-contents a {
  text-decoration: none;
}
.table-of-contents a:hover,
.table-of-contents a:active {
  text-decoration: underline;
}

h2:target {
  animation: highlight 1s ease;
}
h3:target {
  animation: highlight 1s ease;
}

@keyframes highlight {
  from { background: yellow; }
  to { background: white; }
}

.btnTop {
	float: right;
	margin-top : 14px;
}

.fullimg {
	max-width: 660px;
	border : 2px solid #5091cd;
}

h1 {
	margin-bottom:15px;
	padding-bottom:5px;
    border-bottom: 2px solid #5091cd;

}
footer {
margin-top:25px;
	width: 100%;
	display: table;
	background-color:rgba(87, 138, 213, 0.2);
	border: 2px solid #5091cd;
}
footer img {
	margin: 25px auto 25px auto;
	display: block;
}

footer > ul.list-inline li { margin-right : 40px; }
