#aeSecure - Only those files can be accessed from /plugins
<IfModule mod_rewrite.c>
  RewriteEngine On
  #RewriteOptions Inherit
  RewriteCond %{REQUEST_FILENAME} !\.(icon?|img|gif|jpe?g|png|map|webp)$ [NC]
  RewriteCond %{REQUEST_FILENAME} !\.css(.gz)?(\?.*)?$ [NC]
  RewriteCond %{REQUEST_FILENAME} !\.js(.gz)?(\?.*)?$ [NC]
  RewriteCond %{REQUEST_FILENAME} !\.json(.gz)?(\?.*)?$ [NC]
  RewriteCond %{REQUEST_FILENAME} !\.(eot|svg|ttf|woff2?)(\?.*)?$ [NC]
  # And allow an exception for ELF
  RewriteCond %{REQUEST_URI} !.*/task/elf/libs/elf/*
  RewriteRule .* - [R=403,NC,L]
</IfModule>
