#AddHandler application/x-httpd-php70 .php

ErrorDocument 403 '<html xmlns="http://www.w3.org/1999/xhtml"><head><style type="text/css" >body{color:#fff;background-color:#851507;font:14px/1.5 Helvetica,Arial,sans-serif};</style><title>Access denied</title></head><body><div style="margin:20px auto;width:700px;padding-top:50px"><h1>Access denied, unauthorized access.<br/><br/>If you think it\'s an error, please inform the webmaster to help him to adjust his security rules.  Thank you.</h1><pre style="padding:20px;white-space:pre-line;border-radius:10px;background-color:#b34334">Code : 403 - Deny access</pre></div></body></html>'

DirectoryIndex index.php

<IfModule mod_rewrite.c>

    # Own router : if the URL points to a .html file and if that file doesn't exists, redirect to router.php
    # For instance : http://localhost:8080/notes/docs/Development/atom/plugins.html will be valid and will display the html rendering of the plugins.md file
    Options +FollowSymlinks
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.*) router.php?file=$1&%{QUERY_STRING} [L]

    # Block access to hidden files / folders but allow .files, .images or .well)-known
    RewriteCond %{SCRIPT_FILENAME} -d [OR]
    RewriteCond %{SCRIPT_FILENAME} -f
    RewriteRule "(^|/)\.(?!(files|images|well-known))" - [R=403,NC,L]

    # Block access to somes files
    RewriteCond %{REQUEST_FILENAME} (composer.json|composer.lock|package.json|post-install.bat|settings.json|settings.json.dist|tags.json)$
    RewriteCond %{SCRIPT_FILENAME} -f
    RewriteRule .* - [R=403,NC,L]

	RewriteCond %{REQUEST_FILENAME} !(index|router)\.php
    RewriteCond %{REQUEST_FILENAME} \.(php)$
	RewriteRule .* - [R=403,NC,L]

</IfModule>
