{
	"debug": 0,
	"development": 0,
	"folder": "docs",
	"language": "fr",
	"list": {
		"show_tree_allowed": 1,
		"opened": 0,
		"auto_open": []
	},
	"locale": "fr-FR",
	"timezone": "Europe/Brussels",
	"optimisation": {
		"browser_cache": 0,
		"localStorage": 0,
		"server_session": 0
	},
	"page": {
		"google_font": "",
		"img_maxwidth": 800,
		"robots": "noindex, nofollow"
	},
	"plugins": {
		"authentication": ["login"],
		"buttons": {
			"treeview": [
				{
					"login": 1
				},
				{
					"sitemap": 1
				},
				{
					"timeline": 1
				}],
			"content": [
				{
					"fullscreen": 1
				}, {
					"printer": 1
				}, {
					"clipboard": 1
				}, {
					"html": 1
				}, {
					"reveal": 1
				}, {
					"remark": 1
				}, {
					"txt": 1
				}, {
					"epub": 1
				}, {
					"odt": 1
				}, {
					"docx": 1
				}, {
					"pdf": 1
				}, {
					"editor": 1
				},
				{
					"refresh": 1
				}]
		},
		"content": {
			"html": [
				{
					"login": 1
				},
				{
					"encrypt": 1
				},
				{
					"bootstrap": 1
				},
				{
					"clipboard": 1
				},
				{
					"datatables": 1
				},
				{
					"editor": 1
				},
				{
					"lazyload": 1
				},
				{
					"linkify": 1
				},
				{
					"ganalytics": 1
				},
				{
					"gtranslate": 1
				},
				{
					"jolitypo": 1
				},
				{
					"meta": 1
				},
				{
					"prism": 1
				},
				{
					"seo": 1
				},
				{
					"share": 1
				},
				{
					"smileys": 1
				},
				{
					"tags": 1
				},
				{
					"joomla_doc": 0
				},
				{
					"security": 1
				},
				{
					"custom": 1
				}
				],
			"docx": [
				{
					"pandoc": 1
				}],
			"epub": [{
				"pandoc": 1
			}],
			"odt": [{
				"pandoc": 1
			}],
			"pdf": [{
				"decktape": 1
			}, {
				"pandoc": 1
			}, {
				"dompdf": 1
			}],
			"slides": [{
				"remark": 1
			}, {
				"reveal": 1
			}],
			"txt": [{
				"pandoc": 1
			}]
		},
		"markdown": [{
			"read": 1
		}, {
			"encrypt": 1
		}, {
			"write": 1
		}],
		"options": {
			"bootstrap": {
				"bullet": "check",
				"extra_attribute": ""
			},
			"decktape": {
				"script": "c:\\christophe\\tools\\decktape\\phantomjs.exe"
			},
			"encrypt": {
				"password": "man1,clo",
				"method": "aes-256-ctr"
			},
			"ganalytics": "",
			"login": {
				"username": "admin",
				"password": "marknotes"
			},
			"pandoc": {
				"script": "c:\\christophe\\tools\\pandoc\\pandoc.exe",
				"options": {
					"docx": "-S --toc",
					"pdf": "-S --toc --latex-engine=c:\\Christophe\\tools\\pandoc\\miktex\\miktex\\bin\\x64\\xelatex.exe -V geometry:margin=1in"
				}
			},
			"reveal": {
				"animation": {
					"bullet": "animated",
					"h1": "zoom",
					"h2": "concave",
					"h3": "slide-in",
					"h4": "fade",
					"h5": "fade",
					"h6": "fade"
				},
				"section": {
					"extra_data_img_attr": "data-background-size='contain'"
				}
			},
			"seo": {
				"keywords": [
					"Open Source", "JoomlaDays", "JoomlaDagen", "JDay 2017 NL", "JDay 2017 FR", "#jd17nl", "#jd17fr", "JUG Wallonie"
				]
			},
			"tags": {
				"prefix": "§",
				"auto_select": []
			}
		}
	},
	"site_name": "marknotes | An Open Source notes management tool",
	"slideshow": {
		"duration": {
			"minutes": 60,
			"bar_height": 30
		}
	},
	"templates": {
		"html": "html",
		"pdf": "pdf",
		"remark": "remark",
		"reveal": "reveal",
		"screen": "screen",
		"timeline": "timeline"
	},
	"treeview": {
		"default": ""
	},
	"languages": {
		"en": {
			"action_download": "Download this file",
			"action_html": "View this slideshow like an article",
			"action_slideshow": "View this article like a slideshow",
			"allow_popup_please": "The new window has been blocked by your browser, please allow popups for your domain",
			"apply_filter": "Filtering to [%s]",
			"apply_filter_tag": "Display notes containing this tag",
			"button_encrypt": "Add encryption for the selection",
			"button_exit_edit_mode": "Exit the editing mode",
			"button_save": "Submit your changes",
			"button_save_done": "The note has been successfully saved",
			"button_save_error": "There was an error while saving the note",
			"cancel": "Cancel",
			"copy_clipboard": "Copy the note&#39;s content, with page layout, in the clipboard",
			"copy_link": "Copy the link to this note in the clipboard",
			"copy_clipboard_done": "The note&#39;s content has been copied.  You can now paste the clipboard in your application.",
			"copy_link_done": "The URL of this note has been copied into the clipboard",
			"confidential": "confidential",
			"display_that_note": "Display that note",
			"edit_file": "Edit",
			"error": "Error",
			"error_create_file": "An error has occured during the creation of the note [%s]",
			"error_create_folder": "An error has occured during the creation of the folder [%s]",
			"error_delete_file": "An error has occured during the deletion of the note [%s]",
			"error_rename_file": "An error has occured when trying to rename the note [%s] into [%s]",
			"error_rename_folder": "An error has occured when trying to rename the folder [%s] into [%s]",
			"export_epub": "Export the note as a EPUB document",
			"export_docx": "Export the note as a DOCX document",
			"export_odt": "Export the note as a ODT document",
			"export_pdf": "Export the note as a PDF document",
			"export_txt": "Export the note as a TXT flatfile",
			"file_created": "The note [%s] has been successfully created on the disk",
			"file_deleted": "The note [%s] has been successfully deleted",
			"file_not_found": "The note [%s] doesn\\&#39;t exists",
			"file_read_only": "The note [%s] is read-only, it\\&#39;s then impossible to delete it",
			"file_renamed": "The note [%s] has been renamed into [%s]",
			"files_found": "%s has been retrieved",
			"folder_created": "The folder [%s] has been created on the disk",
			"folder_deleted": "The folder [%s] and its content has been deleted",
			"folder_not_deleted": "The folder [%s] is outside your documentation root folder and therefore will not be deleted",
			"folder_not_found": "The folder [%s] doesn\\&#39;t exists",
			"folder_read_only": "Sorry but the folder [%s] is read-only",
			"folder_renamed": "The folder [%s] has been renamed into [%s]",
			"fullscreen": "Display the note in fullscreen",
			"incorrect_parameter": "The parameter [%s] is incorrect",
			"is_encrypted": "This information is encrypted in the original note and decoded here for screen display",
			"json_error": "The [%s] task has returned an invalid JSON result",
			"loading_tree": "Loading the list of notes, please wait...",
			"login": "Username",
			"login_error": "Incorrect login, please try again",
			"login_success": "Login successfull",
			"loginform": "Login form",
			"no_save_allowed": "Error, saving notes isn&#39;t allowed.",
			"not_authenticated": "You need first to authenticate",
			"on_this_page": "On this page",
			"open_html": "Open in a new window",
			"OK": "Ok",
			"password": "Password",
			"please_wait": "Please wait...",
			"print_preview": "Print preview",
			"refresh": "Refresh",
			"search_no_result": "Sorry, the search is not successfull",
			"search_placeholder": "Search...",
			"settings_clean": "Clear cache",
			"settings_clean_done": "The application's cache has been cleared",
			"show_tree_not_allowed": "Access to this screen has been disallowed, sorry",
			"signin": "Sign in",
			"sitemap": "Get the sitemap",
			"slideshow": "slideshow",
			"timeline": "Display notes in a timeline view",
			"tree_collapse": "Collapse all",
			"tree_delete_file": "Delete the note [%s]",
			"tree_delete_folder": "Remove the folder [%s] and everything in that folder",
			"tree_delete_file_confirm": "Are you really sure you want to delete the note [%s] ?",
			"tree_delete_folder_confirm": "Are your really sure you want to kill everything in the folder [%s] and the folder itself ?",
			"tree_expand": "Expand all",
			"tree_rename": "Rename",
			"tree_new_folder": "Create a new folder",
			"tree_new_folder_name": "New folder",
			"tree_new_note": "Create a new note",
			"tree_new_note_name": "New note"
		},
		"fr": {
			"action_download": "T&eacute;l&eacute;charger ce fichier",
			"action_html": "Afficher la pr&eacute;sentation comme un article",
			"action_slideshow": "Voir cet article sous le format pr&eacute;sentation",
			"allow_popup_please": "La nouvelle fen&#234;tre a &#233;t&#233; bloqu&#233;e par votre navigateur, veuillez s'il vous pla&#238;t autoriser les 'popups' pour votre domaine",
			"apply_filter": "Limite la liste des notes à [%s]",
			"apply_filter_tag": "Affiche les notes reprennant ce mot",
			"button_encrypt": "Encrypte la s&eacute;lection",
			"button_exit_edit_mode": "Quitte le mode &eacute;dition",
			"button_save": "Enregistre vos modifications sur le serveur",
			"button_save_done": "Le fichier a &eacute;t&eacute; enregistr&eacute; avec succ&egrave;s",
			"button_save_error": "Une erreur a &eacute;t&eacute; rencontr&eacute;e lors de la sauvegarde",
			"cancel": "Annuler",
			"copy_clipboard": "Copie le contenu de la note, avec mise en page, dans le presse-papier",
			"copy_clipboard_done": "La note a &eacute;t&eacute; copi&eacute;e.  Vous pouvez vous rendre dans l&#39;application de destination et coller le contenu du presse-papier",
			"copy_link": "Copier le lien vers cette note dans le presse-papier",
			"copy_link_done": "L&#39;URL vers cette note a &eacute;t&eacute; copi&eacute;e dans le presse-papier.",
			"confidential": "confidentiel",
			"display_that_note": "Afficher cette note",
			"edit_file": "Éditer",
			"error": "Erreur",
			"error_create_file": "Une erreur a &#233;t&#233; rencontr&#233;e lors de la cr&#233;ation du fichier [%s]",
			"error_create_folder": "Une erreur a &#233;t&#233; rencontr&#233;e lors de la cr&#233;ation du dossier [%s]",
			"error_delete_file": "Une erreur a &#233;t&#233; rencontr&#233;e lors de la suppression du fichier [%s]",
			"error_rename_file": "Une erreur a &#233;t&#233; rencontr&#233;e lors de la tentative de renommer le fichier [%s] en [%s]",
			"error_rename_folder": "Une erreur a &#233;t&#233; rencontr&#233;e lors de la tentative de renommer le dossier [%s] en [%s]",
			"export_epub": "Exporter cette note au format epub",
			"export_docx": "Exporter cette note au format docx",
			"export_odt": "Exporter cette note au format odt",
			"export_pdf": "Exporter cette note au format pdf",
			"export_txt": "Exporter cette note au format txt",
			"file_created": "Le fichier [%s] a &#233;t&#233; cr&#233;&#233; sur le disque",
			"file_deleted": "La note [%s] a &#233;t&#233; supprim&#233;e sur le disque",
			"file_not_found": "Le fichier [%s] n&#39;existe pas",
			"file_read_only": "Le fichier [%s] est en lecture seule, il n&#39;est pas possible de le supprimer",
			"file_renamed": "Le fichier [%s] a &#233;t&#233; renomm&#233; en [%s]",
			"files_found": "%s fichiers ont &eacute;t&eacute; retrouv&eacute;s",
			"folder_created": "Le dossier [%s] a &#233;t&#233; cr&#233;&#233; sur le disque",
			"folder_deleted": "Le dossier [%s] et son contenu a &#233;t&#233; supprim&#233;",
			"folder_not_deleted": "Le dossier [%s] se trouve en dehors du dossier qui contient vos notes et par cons&#233;quent n&#39;a pas &#233;t&#233; supprim&#233;",
			"folder_not_found": "Le dossier [%s] ne semble pas exister",
			"folder_read_only": "D&#233;sol&#233;, le dossier [%s] est en lecture seule",
			"folder_renamed": "Le dossier [%s] a &#233;t&#233; renomm&#233; en [%s]",
			"fullscreen": "Affiche la note en plein &eacute;cran",
			"incorrect_parameter": "Le param&#232;tre [%s] est incorrect",
			"is_encrypted": "Cette information, m&ecirc;me si elle est affich&eacute;e en clair, est crypt&eacute;e dans le fichier. Elle n&#39;est pas donc pas accessible si on ouvre imm&eacute;diatement le fichier source.",
			"json_error": "La t&acirc;che [%s] a retourn&eacute; une r&eacute;ponse JSON incorrecte",
			"loading_tree": "Chargement de la liste des notes, merci de patienter...",
			"login": "Nom d&#39;utilisateur",
			"login_error": "Erreur de connexion, veuillez r&#233;essayer s'il vous pla&#238;t",
			"login_success": "Connexion r&#233;ussie",
			"loginform": "Formulaire de connexion",
			"no_save_allowed": "Erreur, l&#39;&eacute;dition des notes n&#39;est pas autoris&eacute;e.",
			"not_authenticated": "Vous devez d&#x27;abord vous authentifier",
			"on_this_page": "Sur cette page",
			"open_html": "Ouvrir dans une nouvelle fen&ecirc;tre",
			"OK": "Oui",
			"password": "Mot de passe",
			"please_wait": "Un peu de patience s&#x27;il vous pla&#xEE;t...",
			"print_preview": "Aper&ccedil;u avant impression",
			"refresh": "Rafra&icirc;chir",
			"search_no_result": "D&eacute;sol&eacute;, votre recherche n&#39;a pas retourn&eacute; de r&eacute;sultat",
			"search_placeholder": "Recherchez...",
			"settings_clean": "Nettoie le cache de l&#39;application",
			"settings_clean_done": "Le cache de l&#39;application a &eacute;t&eacute; nettoy&eacute;",
			"show_tree_not_allowed": "L&#39;acc&egrave;s a cet &eacute;cran a &eacute;t&eacute; d&eacute;sactiv&eacute;, d&eacute;sol&eacute;",
			"signin": "Se connecter",
			"sitemap": "Afficher la carte du site",
			"slideshow": "Affiche le document au format &#39;pr&eacute;sentation&#39;",
			"timeline": "Affiche la liste des notes, par ordre chronologique invers&eacute;",
			"tree_collapse": "Fermer l&#x27;arbre",
			"tree_delete_file": "Supprimer la note [%s]",
			"tree_delete_folder": "Supprimer l&#39;int&eacute;gralit&eacute; du dossier [%s]",
			"tree_delete_file_confirm": "&#202;tes-vous certain de vouloir supprimer la note [%s] ?",
			"tree_delete_folder_confirm": "&#202;tes-vous certain de vouloir supprimer le dossier [%s] et tout ce qu&#39;il contient ?",
			"tree_expand": "Déplier l&#x27;arbre",
			"tree_rename": "Renommer",
			"tree_new_folder": "Cr&eacute;er un nouveau dossier",
			"tree_new_folder_name": "Nouveau dossier",
			"tree_new_note": "Cr&eacute;er une nouvelle note",
			"tree_new_note_name": "Nouvelle note"
		}
	}
}
